@use "../abstract/" as *;
@use "../base/" as *;

.contact{

    &__wrapper{
        padding: 6rem;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 2rem;
        margin-bottom: 2rem;
        h2{
            font-size: 2.5rem;
            font-weight: normal;
            padding-bottom: 1rem;
            border-bottom: 1px solid $clr-line;
            margin-bottom: 2rem;
            color: $clr-lightGrey;
        }
        .find{
            p{
                color: $clr-lightGrey;
                font-size: 1.1rem;
            }
            p:first-of-type{
                border-top: 1px solid $clr-line;
                margin-top: 1rem;
                padding-top: 1rem;
                margin-bottom: 2rem;
                
            }
            a{
                color: $clr-red;
                font-size: 0.9rem;
                padding-bottom: 1rem;
                
                &:hover{
                    color: $clr-dark;
                    
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 2rem;
            input{
                border: 1px solid $clr-line;
                padding:0.7rem 1rem ;
                color: $clr-lightGrey;
                &:focus{
                    color: #dadada;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    &::placeholder{
                        color: #afafaf;
                    }
                }
            }
            textarea{
                border: 1px solid $clr-line;
                height: 15rem;
                padding:0.7rem 1rem ;
                resize: none;
                color: $clr-lightGrey;
                &:focus{
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    &::placeholder{
                        color: #afafaf;
                    }
                }
            }
            
        }
        .btns{
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }
    }
}