@use "../abstract/" as *;
@use "../base/" as *;

.servicePage{
    margin-bottom: 2rem;
    &__wrapper{
        padding: 6rem;
        
    }
    &__title{
        padding-bottom: 0.7rem;
        border-bottom: 1px solid $clr-line;
        margin-bottom: 1rem;
        @include between;
        h2{
            font-size: 2rem;
            font-weight: normal;
            
        }
        i{
            border-radius: 50%;
            background-color: $clr-light;
            color: $clr-dark;
            width: 2rem;
            height: 2rem;
            @include centerAll;
            &:hover{
                background-color: $clr-dark;
                color: $clr-light
            }

        }
        #servicePage__controls{
            display: flex;
            gap: 0.5rem;
        }
    }
    &__items{
        img{
            width: 26rem;
        }
        a{
            color: $clr-red;
            &:hover{
                color: $clr-dark;
                transition: 0.3s;
            }
        }
        a:last-child{
            color: $clr-light;
            text-decoration: underline;
            &:hover{
                color: $clr-red;
                transition: 0.3s;
            }
        }
    }
    
}

.price{
    margin-bottom: 2rem;
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 6rem;
        gap: 2rem;
        h2{
            font-size: 2.5rem;
            font-weight: normal;
            padding-bottom: 1rem;
            border-bottom: 1px solid $clr-line;
            margin-bottom: 2rem;
            color: $clr-lightGrey;
        }
        p{
            color: $clr-lightGrey;
                font-size: 1.1rem;
        }
    }
    &__report{
        p{
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 1px solid $clr-line;
        }
    }
    &__list{
        p{
            margin-bottom: 1rem;
        }
        &--list{
            @include grid(3,1);
            a{
                @include between;
                width: 14rem;
                color: $clr-lightGrey;
                &:hover{
                    color: $clr-red;
                    span{
                        color: $clr-lightGrey;
                    }
                }
            }
            span{
                display: inline-block;
                width: 5rem;
                overflow: hidden;
            }
        }
    }
}