@use "../abstract/" as *;

.btn{
    background-color: transparent;
    padding: 0.8rem 2rem;
    
    &.bg--red{
        @extend .btn;
        background-color: $clr-red;
        color: $clr-light;
    }
}

