@use "./colors" as *;

$colors: (
    "dark": $clr-dark,
    "light": $clr-light,
    "gray": $clr-gray,
    "red": $clr-red,
);

@each $key, $val in $colors{
    .text{
        &--#{$key}{
            color: $val;
        }
    }
    .bg{
        &--#{$key}{
            background-color: $val;
        }
    }
}

.links{
    color: $clr-red;
    font-size: 0.9rem;
                
    &:hover{
    color: $clr-dark;
    }
}

.lineBottom{
            padding-bottom: 1rem;
            border-bottom: 1px solid $clr-line;

}